<!DOCTYPE html>
<html lang="pt-br">

<head>
  <%-include ("./components/head.ejs") %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reddito | Home Page</title>
  <meta name="description" content="Reddito Homepage">
</head>

<body>

  <%- include ("./components/nav.ejs") %> 

  <noscript>
    ops seu navegador não suporta JS
  </noscript>

  <!-- Banner -->
  <main class="main-index container-fluid d-flex flex-column justify-content-center align-items-center p-5">
    <div class="descricaoreddito">
      <!--style="margin-top: 100px"-->
      <h1 class="titulo">REDDITO</h1>
      <h2 class="subtitulo">O tempero mais familiar na sua mesa</h2>
      <p class="explicacao">
        Um site especial para pessoas amantes da gastronomia, que se
        divertem ao entrar na cozinha e buscam uma maneira mais fácil de
        consultar receitas. O Reddito facilitará a sua vida e fazendo com
        que você nunca mais se estresse ou se preocupe com onde procurar e
        anotar suas receitas favoritas!
      </p>
    </div>
    <!-- Cadastre suas receitas, após o cadastro ou login, deve ir direto para a página de novas receitas -->
    <a href="/registro" class="link2 btn btn-lg" role="button">
      <!--style="margin-bottom: 100px"-->
      Cadastre suas receitas
    </a>
  </main>

  <!--Cards -->
  <!--Entrada para o Backend, receitas mais populares-->
  <section class="container" id="recpopulares">
    <h3 id="populares">Mais Populares</h3>
    
    <%if (retorno.length == 0){%>
      <p class="text-center justify-content-center">Não foi possível encontrar uma receita</p>
    <%}%>

    <div class="card-group d-flex flex-wrap justify-content-around m-0 p-0">
      <div class="card-group d-flex align-items-start flex-wrap m-5 mt-1 px-2">

        <%
        let iterations = 0 ;
          if(retorno.length > 3){
            iterations = 3
          }
          else{
            iterations = retorno.length
          }
        %>

        <%
        let value = 0;

          min = Math.ceil(0);
          max = Math.floor(retorno.length);
          value = Math.floor(Math.random() * (max - min)) + min;

          console.log(value)
        
        %>
        
        <%for(let i = 0; i < iterations; i++){%>
          <div class="card regular-card mx-3">
            <img
              src="<%=retorno[i].Imagem%>"
              class="card-img-top eq"
              alt=" Foto da receita '<%=retorno[i].Titulo%>'"
            />
            <div class="card-body d-flex d-flex justify-content-around flex-column m-3">
              <h5 class="card-title"><%=retorno[i].Titulo%></h5>
              <p class="card-text">
                <%=retorno[i].Descricao%>
              </p>
              <!-- Entrada para o Backend, alerta de produtos -->
              <div class="listinha">
                <div class="configlista">
                  <p> ⚠️ Ingredientes: </p>
                  <ul class="list-group list-group-flush">
                    <%for(let j = 0; j < retorno[i].Ingredientes.length; j++){%>
                    <li class="list-group-item list-group-item-warning mt-1">
                      <%=retorno[i].Ingredientes[j]%>
                    </li>
                    <%}%>

                  </ul>
                </div>
              </div>
              <a href="/receita?id=<%=retorno[i]._id%>" class="link2 btn" role="button">
                Saiba Mais
              </a>
            </div>
          </div>
        <%}%>
      </div>
    </div>
  </section>

  <!--Receita Aleatória-->
  
  <section id="recdia">
    <div>
      <h3 id="dia">Receita Aleatória</h3>
      <div class="d-flex justify-content-center mb-5">
        <div class="fixedcard">
          <%if ( retorno.length == 0 ){ %>
            <p>Não foi possível encontrar uma receita</p>
          <%}else{%>
            <div class="card mb-1 mrc">
              <div class="row">
                <div class="col-md-0">
                  <img
                    src="<%=retorno[value].Imagem%>"
                    class="img-fluid rounded-start"
                    alt="(Receita Aleatória) '<%=retorno[value].Titulo%>' "
                  />
                </div>
                <div class="mx-1">
                  <div class="card-body d-flex justify-content-center flex-column ">
                    <h5 class="card-title"><%=retorno[value].Titulo%></h5>
  
                    <p class="card-text">
                      <%=retorno[value].Descricao%>
                    </p>
                    <div class="listinha">
                      <div class="configlista">
                        <p> ⚠️ Ingredientes: </p>
                        <ul class="list-group list-group-flush">
                          <%for(let j = 0; j < retorno[value].Ingredientes.length; j++){%>
                          <li class="list-group-item list-group-item-warning">
                            <%=retorno[value].Ingredientes[j]%>
                          </li>
                          <%}%>
                        </ul>
                      </div>
                    </div>
                    <!--Aqui temos uma entrada para o Backend, com atualização da receita/opcional-->
                    <p class="card-text">
                      <small class="text-muted">
                        Publicada em <%=retorno[value].Data_de_cadastro.toISOString().slice(0,10)%>
                      </small>
                    </p>
                    <a
                      href="/receita?id=<%=retorno[value]._id%>"
                      class="link2 btn"
                      role="button"
                      data-bs-toggle="modal"
                      data-bs-target="#staticBackdrop"
                    >
                      Ver Receita
                    </a>
  
                    <!-- Modal -->
                    <div
                      class="modal fade"
                      id="staticBackdrop"
                      data-bs-backdrop="static"
                      data-bs-keyboard="false"
                      aria-labelledby="staticBackdropLabel"
                      aria-hidden="true"
                    >
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5
                              class="modal-title"
                              id="staticBackdropLabel"
                            >
                              Faça seu cadastro ou Login
                            </h5>
                            <button
                              type="button"
                              class="btn-close"
                              data-bs-dismiss="modal"
                              aria-label="Close"
                            ></button>
                          </div>
                          <div class="modal-body">
                            <p>
                              Para ter acesso a esse conteúdo, faça o seu
                              cadastro, ou se já tem uma conta, faça seu
                              login!
                            </p>
                          </div>
                          <div class="modal-footer">
                            <button
                              type="button"
                              class="btn btn-secondary"
                              data-bs-dismiss="modal"
                            >
                              Fechar
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <p class="d-none">Numero do array: <%=value%> </p>
          <%}%>
        </div>
      </div>
    </div>
  </section>
  <%- include ("./components/footer.ejs") %>

</body>
</html>