<!-- @format -->

<!-- Tela após cadastro, contendo o perfil.
Após ser logado, deve vir diretamente para essa página, aonde terá a opção de perfil -->
<!-- Fazer a conexão após o login ou cadastro -->
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <%- include ("./components/head.ejs")%>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0">
    <title>Título da homepage - Após o Login</title>
    <meta
      name="description"
      content="Minhas receitas no Reddito">
  </head>

  <body>
    <!-- Menu -->
    <%- include ("./components/nav.ejs")%>
    <a class="btn link2 text-center justify-content-center align-items-center wv-100" href="/create">Crie Mais Receitas Agora Mesmo</a>
    <!--Cards -->
    <!--Entrada para o Backend, receitas mais populares-->
    <section
      class="container d-flex flex-column"
      id="recpopulares">
      <h3 id="populares">SUAS RECEITAS</h3>

      <div class="card-group d-flex flex-column align-items-center justify-content-center ">
        <%for(let i = 0; i < retorno.length; i++){%>
            <div class="card regular-card my-3 w3">
              <img
                src="<%=retorno[i].Imagem%>"
                class="card-img-top eq"
                alt=" Foto da receita '<%=retorno[i].Titulo%>'"
              />
              <div class="card-body d-flex d-flex justify-content-around flex-column m-3">
                <h5 class="card-title"><%=retorno[i].Titulo%></h5>
                <p class="card-text">
                  <%=retorno[i].Descricao%>
                </p>
                <!-- Entrada para o Backend, alerta de produtos -->
                <div class="listinha">
                  <div class="configlista">
                    <p> ⚠️ Ingredientes: </p>
                    <ul class="list-group list-group-flush">
                      <%for(let j = 0; j < retorno[i].Ingredientes.length; j++){%>
                      <li class="list-group-item list-group-item-warning mt-1">
                        <%=retorno[i].Ingredientes[j]%>
                      </li>
                      <%}%>
    
                    </ul>
                  </div>
                </div>
                <div class="">

                        <a href="/receita?id=<%=retorno[i]._id%>" class="link2 btn my-3 form-control" role="button">
                            Saiba Mais
                        </a>



    
                        <!-- Update -->
                        <a type="button" class="btn btn-warning form-control my-2" data-bs-toggle="modal" data-bs-target="#Update<%=i%>">
                        Update <%=retorno[i].Titulo%>
                        </a>



                              


                    <!-- Modal -->
                    <div class="modal fade" id="Update<%=i%>" tabindex="-1" aria-labelledby="UpdateLabel<%=i%>" aria-hidden="true" data-bs-backdrop="static">
                      <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h1 class="modal-title fs-5" id="UpdateLabel<%=i%>">Update '<%=retorno[i].Titulo%>'</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">

                                <form class="form" action="/update" method="post">

                                    <%=i%>
                        
                                    <h3><%=retorno[i]._id%></h3>
                                    <input class="form-control my-2" type="hidden" name="_id" value="<%=retorno[i]._id%>">
                                    <input class="form-control my-2" type="text" name="titulo" id="" value="<%=retorno[i].Titulo%>">
                                    <input class="form-control my-2" type="text" name="descricao" id="" value="<%=retorno[i].Descricao%>">
                                    <input class="form-control my-2" type="text" name="ingredientes" id="" value="<%=retorno[i].Ingredientes%>">
                                    <input class="form-control my-2" type="number" name="porcoes" id="" value="<%=retorno[i].Porcoes%>">
                                    <textarea class="form-control my-2" name="preparo" id="" cols="30" rows="10" ><%=retorno[i].Preparo%></textarea>
                                
                                    <input type="submit" value="Update <%=i%>">
                        
                        
                                </form>

                            </div>
                        </div>
                      </div>
                    </div>
                                            


                    <form class="form" action="/delete" method="post">
                        <input type="hidden" name="_id" value="<%=retorno[i]._id%>">
                        <!-- Button trigger modal -->
                        <a type="button" class="btn btn-danger form-control my-1" data-bs-toggle="modal" data-bs-target="#exampleModal<%=i%>">
                            Excluir <%=retorno[i].Titulo%>
                        </a>
                        
                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal<%=i%>" tabindex="-1" aria-labelledby="exampleModalLabel<%=i%>" aria-hidden="true" data-bs-backdrop="static"> 
                            <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel<%=i%>">Excluir '<%=retorno[i].Titulo%>'</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                   Deseja Excluir permanentemente a receita '<%=retorno[i].Titulo%>'
                                </div>
                                <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <input type="submit" class="btn btn-outline-danger" value="Excluir <%=retorno[i].Titulo%>">
                                </div>
                            </div>
                            </div>
                        </div>


                        

  
              
                      </form>
                </div>
              </div>
            </div>
          <%}%>
      </div>
    </section>

    <!-- Rodapé -->
        <%- include ("./components/footer.ejs")%>
  </body>
</html>